*.log
*.pot
*.pyc
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
*.py[cod]
*$py.class

.env
venv
django_cache
__pycache__
db.sqlite3
media
